.md-dark {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(44, 46, 51) !important;
}

.md-green {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(44, 159, 65) !important;
}


.md-red{
  color: rgb(255, 255, 255) !important;
  background-color: rgb(204, 19, 52) !important;
}

.md-gray{
  color: rgb(0, 0, 0) !important;
  background-color: rgb(187, 187, 187) !important;
}