$body--color: #ededed;

$color--success: #43A047;
$color--info: #619bf2;
$color--warning: #F2B53F;
$color--danger: #C62828;
$color--info-alt: #a31356;

$color--gray-light: #dedede;
$color--gray-dark: #333;
$color--breadcrumbs: #EAEAEA;
$color--background: #F5F5F5;
$color--brown: #503f3c;
$color--text: #757575;

/** Navigation */
$navigation_background_color: #2c2e33;
$navigation_icons_color: #FFF;
$navigation_logo_background_color: #51d2b7;
$navigation_logo_text_color: #FFF;
$navigation_right_section_background_color: #656c7e;
$navigation_right_section_text_color: #FFF;

/** Navigation Links */
$navigation__link-color: #FFF;
$navigation__link-color--hover: #51d2b7;
$navigation__link-color--icon: #0f75bc;

/** Navigation Filters */
$navigation__active_menu-color: #656c7e;
$navigation__active_border_menu-color: #619bf2;
$navigation__active_link-color--hover: #51d2b7;
$navigation__active_link-color--icon: #0f75bc;
$navigation__active_color: #fff;

/** Default Styles */
$btn--color: #1b559e;
$color--primary: #1b559e;
$color--secondary: #cc9f1f;
$color--accent: #cc1334;


